<div class="login-page">
  <%= form_for(:session, url: :login) do |f| %>
    <%= f.text_field :email, placeholder: "email" %><br><br>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>