<div class="row">
  <div class="col-md-2 col-md-offset-5 text-center">
    <%= button_to "Create New Item", new_admin_item_path, method: :get, class: "reg_btn" %>
  </div>
</div>

<% @items.each do |item| %>
  <%= render 'admin_item', item: item %>
<% end %>
