<div class="user-form col-xs-3">
  <%= form_for(@user) do |f| %>
    <%= render partial: "fields", locals: { f: f } %>
    <%= f.submit "Update Account", class: "btn btn-success" %>
  <% end %>
</div>