<%= render partial: "layouts/master_header" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
      <div class="row">
        <div class="user-form col-xs-3">
          <%= form_for(@user, url:user_path(@user)) do |f| %>
            <%= render partial: "fields", locals: { f: f } %>
            <%= f.submit "Update Account", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
