<div class="hero-unit">
</div>
<h1 class="hero-h1">Welcome to<br> Cowboy Kyle's Farmer's Market! <br>
<% if current_user.admin? %>
  <%= link_to "Admin Portal", admin_items_path %>
<% else %>
  <%= link_to "Vendors", vendors_path %> </h1>
<% end %>

<div class="inner-container">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag("veg.jpg") %>
    </div><!-- col-md-4-->
    <div class="col-md-7">
      <%= image_tag("logo.png", :class => "veg")  %>
    </div><!-- col-md-8-->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-3">
      <h1>Farmers Corner</h1>
      <p>Tom's Seafood</p>
      <p>Peter's Produce</p>
      <p>Pretzel Hut</p>
    </div><!-- col-md-3-->
    <div class="col-md-6">
      <p>column 6</p>
    </div><!-- col-md-6-->
    <div class="col-md-3">
      <p>column 3</p>
    </div><!-- col-md-3-->
  </div><!-- row -->
</div><!--inner-container-->
