<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
      <%= render partial: "orders", locals: { order_counts: @order_counts, orders: @orders, list: @list } %>
    </div>
  </div>
</div>