<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
      <h3 class="greeting">List of Categories:</h3>

      <table class="orders_table">
        <tr>
          <th>Name:</th>
          <% @categories.each do |category| %>
            <td><%= category.name %> <%= link_to 'Edit', edit_admin_category_path(category) %></td>
          <% end %>
        </tr>
      </table>

      <%= button_to "Create category", new_admin_category_path, method: :get, class: "btn btn-success" %>
    </div>
  </div>
</div>

