.greeting {
            font-family: 'Cookie', cursive;
            font-size: 40px
          }

.logo {
        font-size: 45px;
      }

.btn {
        margin-top: 20px;
     }

.user-form {
              margin-top: 20px;
            }

.nav {
        background-color: #FF9900;
     }

.user-orders {
                text-align: left;
             }

.nav-dropdown {
                margin-top: 25px;
                text-align: right;
              }

.right {
          text-align: right;
       }

.left  {
          text-align: left;
       }

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10px;
  width: 80%;
}