.greeting {
            font-family: 'Cookie', cursive;
            font-size: 40px
          }

.logo {
        font-size: 45px;
      }

.btn {
        margin-top: 20px;
     }

.user-form {
              margin-top: 20px;
            }

.user-orders {
                text-align: left;
             }

.nav-dropdown {
                margin-top: 25px;
                text-align: right;
              }

.right {
          text-align: right;
       }

.left  {
          text-align: left;
       }

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10px;
  width: 80%;
}

.item_box {
  height: 340px;
  border: 1px solid #D6A47F;
  margin-bottom: 30px !important;
  background-color: #EDC093;
}

.item_box img {
  margin-top: 20px;
}

.item_box ul {
  list-style: none;
}

.btn {
  -webkit-border-radius: 16 !important;
  -moz-border-radius: 16 !important;
  border-radius: 16px !important;
  font-family: Arial !important;
  color: #ffffff !important;
  font-size: 16px !important;
  background: #C06030 !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  height: 40px !important;
  border-color: #C06030;
  margin-bottom: 10px !important;
  margin-bottom: 5px !important;
}

.btn:hover {
  background: #D86048 !important;
  text-decoration: none !important;
}

.reg_btn {
  -webkit-border-radius: 16 !important;
  -moz-border-radius: 16 !important;
  border-radius: 16px !important;
  font-family: Arial !important;
  color: #ffffff !important;
  font-size: 16px !important;
  background: #C06030 !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  margin-top: 20px !important;
  margin-left: 5px;
  margin-bottom: 10px !important;
}

.reg_btn:hover {
  background: #D86048 !important;
  text-decoration: none !important;
}

.navbar_reg_links > a {
  font-size: 16px;
  color: white !important;
  margin-top: 10px !important;
}

.navbar_reg_links > a:hover {
  color: #F09030 !important;
}
/*.navbar-nav > li > a {
  font-size: 16px;
  color: white !important;
  margin-top: 10px !important;
}*/

