<header class="row">
  <div class="col-md-5">
    <%= image_tag("veg.jpg") %>
  </div><!-- col-md-4-->
  <div class="col-md-7">
    <%= image_tag("logo.png", :class => "veg")  %>
  </div><!-- col-md-8-->
</header><!-- row -->
